.adding{
  display:none;
}
.go{
  border: solid green;
  background-color: black;
  color:white;
}
.adding h1{
  text-align:center;
}
.titleheader{
  animation-name:titleheader;
  animation-duration: 4s;
}
@keyframes titleheader{
  from {color:green;}
  to {color:red;}
}
.topnav{
  background: linear-gradient(to top, blue, 
 purple,black);
  color:black;
}
body{
 background-color:white;
}
.adding a{
  text-align: center;
}
.oneplustwenty{
  display:none;
}
